<footer id="layout-footer">
    <div>
        <p>
            &#169; Created By:- Shalloo Bajpai
        </p>
    </div>

    <div>
        <nav class="footer-nav">
           
        </nav>
    </div>
</footer>